<div class="registration">
  <div class="form-container">
    <h2>Регистрация</h2>
    <form #regForm="ngForm" (ngSubmit)="onSubmit(regForm)">
      <input
        type="text"
        name="username"
        placeholder="Имя пользователя"
        [(ngModel)]="username"
        required
        #usernameRef="ngModel"
      />
      <div
        *ngIf="usernameRef.invalid && (usernameRef.touched || submitted)"
        class="error"
      >
        Имя пользователя обязательно
      </div>

      <input
        type="text"
        name="email"
        placeholder="Email"
        [(ngModel)]="email"
        required
        pattern="^^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
        #emailRef="ngModel"
      />
      <div
        *ngIf="emailRef.invalid && (emailRef.touched || submitted)"
        class="error"
      >
        Введите корректный email
      </div>

      <input
        type="password"
        name="password"
        placeholder="Пароль"
        [(ngModel)]="password"
        required
        pattern="^(?=.*[0-9]).{6,}$"
        #passwordRef="ngModel"
      />
      <div
        *ngIf="passwordRef.invalid && (passwordRef.touched || submitted)"
        class="error"
      >
        Пароль должен быть минимум 6 символов и содержать цифру
      </div>

      <input
        type="password"
        name="confirmPassword"
        placeholder="Подтвердите пароль"
        [(ngModel)]="confirmPassword"
        required
        #confirmPasswordRef="ngModel"
      />
      <div
        *ngIf="
          confirmPassword !== password &&
          (confirmPasswordRef.touched || submitted)
        "
        class="error"
      >
        Пароли не совпадают
      </div>

      <button type="submit">Создать аккаунт</button>
    </form>

    <div class="divider">или</div>
    <button (click)="goToLogin()" class="secondary-button">
      Уже есть аккаунт? Войти
    </button>
  </div>
</div>
