<div class="registration">
  <div class="form-container">
    <h2>Registration</h2>
    <form #regForm="ngForm" (ngSubmit)="onSubmit(regForm)">
      <input
        type="text"
        name="username"
        placeholder="Name"
        [(ngModel)]="username"
        required
        #usernameRef="ngModel"
      />
      <div
        *ngIf="usernameRef.invalid && (usernameRef.touched || submitted)"
        class="error"
      >
        Name is required
      </div>

      <input
        type="text"
        name="email"
        placeholder="Email"
        [(ngModel)]="email"
        required
        pattern="^^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
        #emailRef="ngModel"
      />
      <div
        *ngIf="emailRef.invalid && (emailRef.touched || submitted)"
        class="error"
      >
        Please enter a valid email address
      </div>

      <input
        type="password"
        name="password"
        placeholder="Password"
        [(ngModel)]="password"
        required
        pattern="^(?=.*[0-9]).{6,}$"
        #passwordRef="ngModel"
      />
      <div
        *ngIf="passwordRef.invalid && (passwordRef.touched || submitted)"
        class="error"
      >
        Password must be at least 6 characters long and contain at least one
        number
      </div>

      <input
        type="password"
        name="confirmPassword"
        placeholder="Confirm Password"
        [(ngModel)]="confirmPassword"
        required
        #confirmPasswordRef="ngModel"
      />
      <div
        *ngIf="
          confirmPassword !== password &&
          (confirmPasswordRef.touched || submitted)
        "
        class="error"
      >
        Passwords do not match
      </div>

      <div *ngIf="error" class="error">
        {{ error }}
      </div>

      <button type="submit">Create account</button>
    </form>

    <div class="divider">or</div>
    <button (click)="goToLogin()" class="secondary-button">
      Already have an account? Log in
    </button>
  </div>
</div>
