<div class="login">
  <div class="form-container">
    <h2>Login</h2>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <input
        type="text"
        name="username"
        placeholder="Name"
        [(ngModel)]="username"
        required
        #usernameRef="ngModel"
      />
      <div
        *ngIf="usernameRef.invalid && (usernameRef.touched || submitted)"
        class="error"
      >
        Name is required
      </div>

      <input
        type="password"
        name="password"
        placeholder="Password"
        [(ngModel)]="password"
        required
        #passwordRef="ngModel"
      />
      <div
        *ngIf="passwordRef.invalid && (passwordRef.touched || submitted)"
        class="error"
      >
        Password is required
      </div>

      <div *ngIf="error" class="error">
        {{ error }}
      </div>

      <button type="submit">Login</button>
    </form>

    <div class="divider">or</div>
    <button (click)="goToRegistration()" class="secondary-button">
      Don't have an account? Register
    </button>
  </div>
</div>
